/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* common style  */
body{
    font-family: 'Poppins', sans-serif;
    background-color: honeydew;
   
    
}
main{
    display: flex;
   flex-direction: column;
   align-items: center;

    
}


.flexible-container{ 
  display: flex;
  width: 1200px;
  padding: 10px;
  border: 2px;
  margin-top: 10px;
  
  

  
  
}
h1{
    font-size: 40px;
    margin-top: 40px;
    color: grey;
}
.r {
   
    font-size: 15px;
    color:grey;
    margin-bottom: 45px;
margin-top: -20px;
}




.half-one{
    width: 45%;
    padding-left: 10%;
    
   
    

}
.start-one img{
  width: 90%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 400;
    padding: 10px 60px;
    border-radius: 8px;
}


.item {
    margin-top: 100px;
}
.border{
    border: 3px solid rgb(241, 241, 234);
    padding-top: 20px;
    border-radius: 10px;
     box-shadow: #ffffff
}

.img-1{
    padding-right: 70px;

}
.img-2{
    padding-right: 60px;
}
.img-3{
    padding-right: 50px;
}
.img-4{
    padding-right: 40px;
}
.img-5{
    padding-right: 30px;
}
.img-6{
    padding-right: 20px;
}
.img-7{
    padding-right: 10px;
}

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    
    margin-left: 6%;
    margin-right: 5%;
    margin-top: -20px;
    padding-left: 80px;
}


.course .course-banner img{
    width: 200px; 
    height: 100px;
        padding-left: 10px;
 }


 .coures-info{
     display: flex;
     align-items: center;
   
 }

 .fa-star{
    font-size: 12px;
}
.fa-star.filled{
  color: #ffc014; 
  margin-left: 5px; 
}
.fa-star.empty{
    color: #AEAEAE; 
    margin-left: 2px;
  }

.section-title{
    margin-bottom: 80px;
    margin-top: 80px;
    text-align: center;

}
.course-detail{
    font-size: 30px;
margin-top: 10px;

padding-left: 3%;
}
.dora{

}

.cours{
    
    
    margin-top: 20px;
}


.dolor{
    
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: -20px;
        margin-bottom: -5px;
        font-size: 45px;



}

.five{

    padding-left: 10px;
    
    padding-top: 25px;
    padding-bottom: 0px;
    margin-top: -3px;
}
}
.sit{
    margin-bottom: -15px;
}
.cours {
   border: 3px solid lightgrey;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgb(255, 253, 253);
    
}


.login-container {
    display: flex;
    justify-content: center;
   
width: 401px;
padding-bottom: 175px;
padding-top: 45px;
}
.login-form input,
        button {
            font-size: 1.3em;
            margin-top: 15px;
            border: 1px solid hotpink;
            
            padding-left: 130px;

        }
        .login-form button {
            background-color: orange;
            color: red;
            font-weight: 800;
            padding: 5px;
            border: 0;
        }
        .login-form {
            display: flex;
            flex-direction: column;
        }
        .target{

        }
        footer{
            background-color: black;
            height: 100px;
            padding-top: 50px;
            color: white;
        
        }
        .footer-and{
            
            text-align: center;
           
        }
       
   /* Media Queries  */

